@model DeliveryApp.Models.ViewModels.ClientViewModel
@{
    ViewData["Title"] = "AllClients";
    ViewBag.CurrentController = "Client";
    ViewBag.CurrentAction = "AllClients";
    ViewBag.CurrentViewTitle = "Liste des clients";
}

<h1>Liste des clients inscrits</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var client in Model.AllClients)
        {
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="card deliveryMan-card" style="width: 18rem;">
                    <div class="text-center deliveryMan-card-header mt-3">
                        <img height="100" width="100" src="@Url.Content(client.PicturePath)" class="img rounded-circle img-deliveryMan-card" alt="Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">@client.FirstName @client.LastName</h5>
                        <p class="card-text" style="font-size: 13px"><strong>Email:</strong> @client.Email</p>
                        <p class="card-text" style="font-size: 13px"><strong>Téléphone:</strong> @client.Phone</p>
                        <div class="float-right">
                            <a onclick="deleteClient(@client.Id)" class="btn btn-simple btn-danger btn-icon"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {

    <script src="~/assets/js/plugins/bootbox.js"></script>
    <script>

        function deleteClient(idClient) {
            debugger;
            bootbox.confirm({
                title: "Confirmation suppression",
                message: "Etes-vous certain de vouloir supprimer ce client ?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Annuler'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirmer'
                    }
                },
                callback: function (result) {
                    if (result) {
                            $.ajax({
                                url: '@Url.Action("DeleteClient", "Client")',
                                data: { id: idClient },
                                type: 'GET',
                                dataType: 'html',
                                success: function () {
                                    window.location.reload();
                            }
                        });

                    }
                }
            });
        }
    </script>
}