@model DeliveryApp.Models.ViewModels.ClientViewModel
@{
    ViewData["Title"] = "AllClients";
    ViewBag.CurrentController = "Client";
    ViewBag.CurrentAction = "AllClients";
    ViewBag.CurrentViewTitle = "Liste des clients";
}

<h1>Liste des clients inscrits</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var client in Model.AllClients)
        {
        <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="card deliveryMan-card" style="width: 18rem;">
                <div class="text-center deliveryMan-card-header">
                    <img height="100" width="100" src="@Url.Content(client.PicturePath)" class="img rounded-circle img-deliveryMan-card" alt="Image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@client.FirstName @client.LastName</h5>
                    <p class="card-text">Email: @client.Email</p>
                    <p class="card-text">Téléphone: @client.Phone</p>
                    <div class="float-right">
                        <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>