@model DeliveryApp.Models.ViewModels.DeliveredOrdersViewModel
@{
    ViewData["Title"] = "DeliveredOrders";
    ViewBag.CurrentController = "Order";
    ViewBag.CurrentAction = "DeliveredOrders";
    ViewBag.CurrentViewTitle = "Commandes livrées";
}

<h1>Commandes livrées</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Data Table</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Heure estimée</th>
                            <th>Heure réelle</th>
                            <th>Prix</th>
                            <th>Livreur</th>
                            <th>Client</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.DeliveredOrders)
                        {
                            <tr>
                                <td>@order.DeliveredOrder.Id</td>
                                <td>@order.DeliveryInfo.EstimatedDeliveryTime.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@order.DeliveryInfo.RealDeliveryTime.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@order.DeliveredOrder.DeliveryPrice DT</td>
                                <td>@order.DeliveryMan.FirstName @order.DeliveryMan.LastName</td>
                                <td>@order.Client.FirstName @order.Client.LastName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>