@model DeliveryApp.Models.ViewModels.OrdersViewModel
@{
    ViewData["Title"] = "InDeliveryOrders";
    ViewBag.CurrentController = "Order";
    ViewBag.CurrentAction = "InDeliveryOrders";
    ViewBag.CurrentViewTitle = "Commandes en cours de livraison";
}

@section stylesheets {
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

}

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span>@TempData["Message"]</span>
        </div>
    }


<h1>Commandes en cours de livraison</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Data Table</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Heure commande</th>
                            <th>Heure estimée</th>
                            <th>Livreur</th>
                            <th>Client</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.InDeliveryOrders)
                        {
                            <tr>
                                <td>@order.Id</td>
                                <td>@order.OrderTime.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@order.EstimatedDeliveryTime.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>
                                    @order.DeliveryMan.FirstName @order.DeliveryMan.LastName
                                    <a href="#" data-toggle="modal"
                                       onclick="initMap(@order.DeliveryMan.Location.Long, @order.DeliveryMan.Location.Lat);"
                                       data-target="#locationModal"
                                       class="btn btn-simple btn-info btn-icon">
                                        <i class="fa fa-map-marker"></i>
                                    </a>
                                </td>
                                <td>@order.Client.FirstName @order.Client.LastName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal fade in" id="locationModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title">Localisation</h5>
                        </div>
                        <div class="modal-body">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <script>

        function initMap(long, lat) {

            mapboxgl.accessToken = 'pk.eyJ1IjoibW9lejk2IiwiYSI6ImNqcHpmb2dxcjA3dmk0MnAzdHJhM2d1cWMifQ.F9tAenloATlCneHfirTbLw';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [long, lat],
                zoom: 10
            });

            var marker = new mapboxgl.Marker()
                .setLngLat([long, lat])
                .addTo(map);
        }
    </script>
}