@model DeliveryApp.Models.ViewModels.DeliveryMenViewModel
@{
    ViewData["Title"] = "AllDeliveryMen";
    ViewBag.CurrentController = "DeliveryMan";
    ViewBag.CurrentAction = "AllDeliveryMen";
    ViewBag.CurrentViewTitle = "Liste des livreurs";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="nc-icon nc-simple-remove"></i>
        </button>
        <span>@TempData["Message"]</span>
    </div>
}

<h1>Liste des livreurs</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var man in Model.AllDeliveryMen)
        {
            <div class="col-md-4 col-sm-4 col-lg-4">
                <div class="card deliveryMan-card" style="width: 18rem;">
                    <div class="text-center deliveryMan-card-header">
                        <img height="100" width="100" src="@Url.Content(man.PicturePath)" class="img rounded-circle img-deliveryMan-card" alt="Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@man.FirstName @man.LastName</h5>
                        <p class="card-text">Email: @man.Email</p>
                        <p class="card-text">Téléphone: @man.Phone</p>

                        <div class="float-right">
                            <a href="#" class="btn btn-simple btn-info btn-icon ajaxBtn" data-link="/DeliveryMan/EditDeliveryMan?id=@man.Id" data-title="Modifier Livreur"><i class="fa fa-pencil" title="Modifier"></i></a>
                            <a href="#" class="btn btn-simple btn-danger btn-icon"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
