<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        @ViewData["Title"] - DeliveryTN
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <link href="~/assets/css/utiles.css" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-3.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo text-center">
                <img height="125" width="125" src="~/assets/img/logo.png" alt="Alternate Text" />
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="@(ViewBag.CurrentAction == "Dashboard" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "Profile" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Admin" asp-action="Profile">
                            <i class="material-icons">person</i>
                            <p>Profil</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "DeliveredOrders" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Order" asp-action="DeliveredOrders">
                            <i class="material-icons">library_add_check</i>
                            <p>Commandes livrées</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "InDeliveryOrders" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Order" asp-action="InDeliveryOrders">
                            <i class="material-icons">local_shipping</i>
                            <p>Commandes en cours de livraison</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "DeliveredOrders" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Order" asp-action="DeliveredOrders">
                            <i class="material-icons">home_work</i>
                            <p>Commandes livrées</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "AddProduct" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Product" asp-action="AddProduct">
                            <i class="material-icons">library_add</i>
                            <p>Nouveau produit</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "AllProducts" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Product" asp-action="AllProducts">
                            <i class="material-icons">library_books</i>
                            <p>Tous les produits</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "AddCategory" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Category" asp-action="AddCategory">
                            <i class="material-icons">library_add</i>
                            <p>Nouvelle catégorie</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "AllCategories" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Category" asp-action="AllCategories">
                            <i class="material-icons">category</i>
                            <p>Toutes les catégories</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "ValidateDeliveryMan" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="DeliveryMan" asp-action="ValidateDeliveryMan">
                            <i class="material-icons">add_circle</i>
                            <p>Nouveau livreur</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "AllDevliveryMen" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="DeliveryMan" asp-action="AllDevliveryMen">
                            <i class="material-icons">people</i>
                            <p>Tous les livreurs</p>
                        </a>
                    </li>
                    <li class="@(ViewBag.CurrentAction == "AllClients" ? "nav-item active" : "nav-item")">
                        <a class="nav-link" asp-controller="Client" asp-action="AllClients">
                            <i class="material-icons">emoji_people</i>
                            <p>Client</p>
                        </a>
                    </li>



                    @*<li class="@(ViewBag.CurrentAction == "Orders" ? "nav-item active" : "nav")">
            <a aria-expanded="@(ViewBag.CurrentController == "Order" ? "true" : "false")" data-toggle="collapse" class="nav-link" href="#orders">
                <i class="material-icons">content_paste</i>
                <p>Commandes</p>
            </a>
            <div class="@(ViewBag.CurrentController == "Order" ? "submenu collapse in" : "submenu collapse")" id="orders">
                <ul class="nav">
                    <li>
                        <a class="@(ViewBag.CurrentAction == "DeliveredOrders" ? "nav-link active" : "nav-link")" href="./tables.html">
                            <i class="material-icons">library_add_check</i>
                            <p>Livrées</p>
                        </a>
                    </li>
                    <li>
                        <a class="@(ViewBag.CurrentAction == "InDeliveryOrders" ? "nav-link active" : "nav-link")" href="./tables.html">
                            <i class="material-icons">local_shipping</i>
                            <p>En cours de livraison</p>
                        </a>
                    </li>
                    <li>
                        <a class="@(ViewBag.CurrentAction == "NotDeliveredOrders" ? "nav-link active" : "nav-link")" href="./tables.html">
                            <i class="material-icons">home_work</i>
                            <p>A livrer</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="@(ViewBag.CurrentController == "Product" ? "nav-item active" : "nav-item")">

            <a aria-expanded="@(ViewBag.CurrentController == "Product" ? "true" : "false")" data-toggle="collapse" class="nav-link" href="#products">
                <i class="material-icons">store_mall_directory</i>
                <p>Produits</p>
            </a>
            <div class="@(ViewBag.CurrentController == "Product" ? "submenu collapse in" : "submenu collapse")" id="products">
                <ul class="nav">
                    <li>
                        <a class="@(ViewBag.CurrentAction == "AddProduct" ? "nav-link active" : "nav-link")" href="./tables.html">
                            <i class="material-icons">library_add</i>
                            <p>Nouveau produit</p>
                        </a>
                    </li>
                    <li>
                        <a class="@(ViewBag.CurrentAction == "AllProducts" ? "nav-link active" : "nav-link")" href="./tables.html">
                            <i class="material-icons">library_books</i>
                            <p>Tous les produits</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="@(ViewBag.CurrentController == "Category" ? "nav-item active" : "nav-item")">
            <a aria-expanded="@(ViewBag.CurrentController == "Category" ? "true" : "false")" data-toggle="collapse" class="nav-link" href="#categories">
                <i class="material-icons">category</i>
                <p>Catégories</p>
            </a>
            <div class="@(ViewBag.CurrentController == "Category" ? "submenu collapse in" : "submenu collapse")" id="categories">
                <ul class="nav">
                    <li>
                        <a class="@(ViewBag.CurrentAction == "AddCategory" ? "nav-link active" : "nav-link")" asp-controller="Category" asp-action="AddCategory">
                            <i class="material-icons">library_add</i>
                            <p>Nouvelle catégorie</p>
                        </a>
                    </li>
                    <li>
                        <a class="@(ViewBag.CurrentAction == "AllCategories" ? "nav-link active" : "nav-link")" asp-controller="Category" asp-action="AllCategories">
                            <i class="material-icons">library_books</i>
                            <p>Toutes les catégories</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="@(ViewBag.CurrentController == "DeliveryMan" ? "nav-item active" : "nav-item")">
            <a aria-expanded="@(ViewBag.CurrentController == "DeliveryMan" ? "true" : "false")" data-toggle="collapse" class="nav-link" href="#deliveryMen">
                <i class="material-icons">directions_bike</i>
                <p>Livreurs</p>
            </a>
            <div class="@(ViewBag.CurrentController == "DeliveryMan" ? "submenu collapse in" : "submenu collapse")" id="deliveryMen">
                <ul class="nav">
                    <li>
                        <a class="@(ViewBag.CurrentAction == "NotValidatedDeliveryMen" ? "nav-link active" : "nav-link")" href="./tables.html">
                            <i class="material-icons">add_circle</i>
                            <p>En attente</p>
                        </a>
                    </li>
                    <li>
                        <a class="@(ViewBag.CurrentAction == "AllDeliveryMen" ? "nav-link active" : "nav-link")">
                            <i class="material-icons">people</i>
                            <p>Tous les livreurs</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="@(ViewBag.CurrentAction == "Clients" ? "nav-item active" : "nav-item")">
            <a class="nav-link" href="./notifications.html">
                <i class="material-icons">emoji_people</i>
                <p>Clients</p>
            </a>
        </li>*@
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#pablo">@ViewBag.CurrentView</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <!-- This section changes from View to view -->
                @RenderBody()
            </div>
            <footer class="footer">
                <div class="container-fluid">
                   
                </div>
            </footer>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>*@
    <!-- Chartist JS -->
    <script src="~/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/assets/demo/demo.js"></script>

</body>

</html>
